<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Upload file</title>
    </head>
    <body>
        <h1 class="header">Upload file</h1>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <label class="label">File name</label>
            <input class="button" type="text" name="title">
            <br>
            <label class="label">File</label>
            <input class="button" type="file" name="upload" multiple="multiple"><br>
            <input class="button" type="submit" value="Send">
        </form>
    </body>
</html>